spring:
  main:
    web-application-type: none
  logging:
    file:
      name: logs/app.log   # 指定 Log 檔案位置
    level:
      root: info           # 設定全域日誌等級
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql: TRACE  # 顯示參數值

xmlPath: "external-config/xml/"
batchFilePath: "batch-file/"

localFile:
  mis:
    batch:
      input: "${batchFilePath}input/"
      output: "${batchFilePath}output/"
      output_original_data: "${batchFilePath}output_original_data/"
      compare:
        new:
          directory: "${batchFilePath}compare/new/"
        old:
          directory: "${batchFilePath}compare/old/"
    xml:
      input:
        directory: "${xmlPath}input/"
        bot_directory: "${xmlPath}bot_input/"
      output:
        directory: "${xmlPath}output/"
        bot_directory: "${xmlPath}bot_output/"
      file_def: "${xmlPath}file/DailyBatchFileDefinition.xml"
      mask:
        directory: "${xmlPath}mask/"
        convert: "${xmlPath}mask/convert/"
    compare_result:
      excel: "ComparisonResult/excel/"
      csv: "ComparisonResult/csv/"
      txt: "ComparisonResult/CheckResultList.txt"
    json:
      field_setting:
        directory: "external-config/json/FieldSetting.json"
externalSort:
  blockSize: 100000

app:
  file-processing:
    max-lines: 2000
    timeout: 5000